
@{// TODO: Create a Details view which displays the formatted string with movie name and rating in an h2 tag. 
    // TODO: The Details view should include a link to the MovieRating/Index page
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

